body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', Arial, Verdana;
    background-image: url('https://cdn.donmai.us/original/fb/29/__amatsuka_uto_voice_ore_drawn_by_deyui__fb293805edc8322f4a4b1add464ec2fc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #00796b;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #00796b;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    resize: both;
    border-radius: 5px;
}

input[type="submit"], input[type="reset"] {
    margin: 0 15px;
    padding: 10px 25px;
    background-color: #4b5aa4;
    color: #ffffff;
    border: 1px solid #00796b;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #5745a0;
}

h1, h2 {
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.tables-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.6);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: #ffffff;
}

th {
    background-color: #21288980;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.sintactic-result {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.5); /* Verde para éxito */
}

.sintactic-error {
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.5); /* Rojo para error */
}

.table-box {
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid #cccccc0a;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}